In [1]:
import pandas as pd

Here i read the table from the wikipedia page

In [7]:
LL = pd.read_csv("Geospatial_Coordinates.csv")
WKL= pd.read_csv("Toronto.csv")

In [8]:
LL.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
LL.shape

(103, 3)

In [12]:
df= pd.merge(WKL, 
             LL[['Postal code','Latitude','Longitude']], 
             on='Postal code')
df.head(10)

,Unnamed: 0,Postal code,Borough,Neighborhood,Latitude,Longitude
0,2,M3A,North York,Parkwoods,43.753259,-79.329656
1,3,M4A,North York,Victoria Village,43.725882,-79.315572
2,4,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,5,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494
5,8,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,9,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
7,11,M3B,North York,Don Mills,43.745906,-79.352188
8,12,M4B,East York,Parkview Hill / Woodbine Gardens,43.706397,-79.309937
9,13,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937